a{
  text-decoration: none;
  color: rgba(70, 70, 70, 0.866667)
}
body{
    overflow-x:hidden;
    min-width: 800px;
}

header{
  background: #1bb1b2;
  height: auto;
}
header .top{
  height: auto;
  padding-bottom: 20px
}

.content{
  margin-top: 60px;
  margin-bottom: 60px;
  height:auto;
}

.vjs_video_3-dimensions{
  width: 100%;
  height: 100%;
}
.video-js{
  width: 100%;
  height: 100%;
}

footer .footer_top{
  height: 210px;
}
