body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u391 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:430px;
}
#u391_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:430px;
}
#u392 {
  position:absolute;
  left:0px;
  top:430px;
  width:1200px;
  height:900px;
}
#u392_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:900px;
}
#u393 {
  position:absolute;
  left:0px;
  top:1330px;
  width:1200px;
  height:250px;
}
#u393_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:250px;
}
